<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Users</h3>

                <%if(user!= null){%>
                    <% user.forEach(function(us,i){ %>
                        <p>
                            <strong>Name</strong>: <%= us.local.name %><br>
                            <% if(us._id.toString() != signedUser._id.toString() && signedUser.friendIds.indexOf(us._id.toString()) == -1){%>
                                <a href="/user/<%= us._id%>/addFriend" class="btn btn-primary"><span class="fa"></span> Add Friend</a>
                            <%}%>
                        </p>

                    <%})%>
                <%}%>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Friends</h3>

                <%if(signedUser.friendIds != null){%>
                    <% signedUser.friendIds.forEach(function(fr,i){ %>
                        <% var friendsName = ""%>
                        <%user.some(function(us, i){%>
                            <%friendsName = us.local.name%>
                            <%return us._id.toString() == fr.toString() %>
                        <%})%>

                        <p>
                            <strong>Name</strong>: <%= friendsName %><br>
                        </p>
                    <%})%>
                <%}%>

            </div>
        </div>

    </div>

</div>
</body>
</html>